:root {
    --color-primary: #D7D8C9;
    --color-secondary: #D2D4B0;
    --color-text-on-primary: #57523E;
    --color-text-on-secondary: #D94C1A;
    --color-text-on-third: #f55920;

    --color-nav-primary: var(--color-primary);
    --color-nav-primary-text: var(--color-text-on-primary);
    --color-nav-secondary: var(--color-secondary);
    --color-nav-secondary-text: var(--color-text-on-secondary);

    --font-primary:  "Inter", sans-serif;
    --font-secondary: "Oxygen mono", monospace;
    --font-size: 1.3rem;

    --color-button-border: var(--color-text-on-primary);
    --color-button-primary-bg: var(--color-text-on-primary);
    --color-button-primary-text: var(--color-primary);
    --color-button-secondary-bg: var(--color-primary);
    --color-button-secondary-text: var(--color-text-on-primary);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* generic styles for the page */

  .body {
    padding: 0;
    margin: 0 auto;
    font-family: var(--font-primary);
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    font-size: var(--font-size);
    width: 100vw;

    /* use for nav list sliding, prevent overflow */
    /* overflow-x: hidden;  */

    font-family: var(--font-family);

    border: red 1px solid;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
  }


a {
  color: var(--color-text-on-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-on-third);
}


/* background color divs */

.gradient {
  background: linear-gradient(
    90deg, 
    rgba(66,66,66,1) 0%, 
    rgba(190,190,190,1) 100%
  );
  height: 2px;
}

/* navigation */

  .header {
    position: sticky;
    top: 0;
  }

.nav__button{
  display: block;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  background-image: url('../icons/menu.svg');
  background-repeat: no-repeat;
  width: 4rem;
  aspect-ratio: 1;
  border: 0;
  top: 20px;
  right: 15px;
}

.nav__button[aria-expanded="true"]{
  background-image: url('../icons/close.svg');
}

.nav {
  font-family: var(--font-secondary);
  font-size: 80%;
  background-color: var(--color-nav-primary);
  color: var(--color-nav-primary-text);
  padding: 2rem 1rem;
  display: flex;
}



.nav__list {
  list-style-type: none;
  padding: 100px 0 0 80px;
  margin: 0;
  position: fixed;
  inset: 0 0 0 30%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: hsl(0 0% 100% /0.1);
  backdrop-filter: blur(2rem);

  transform: translateX(100%);
  transition: transform 400ms ease-out;

}

.nav__list[data-visible="true"] {
  transform: translateX(0%);
}

.nav__list-icon {
  font-size: 200%;
}

.nav__header-icon--main {
  font-size: 100%
}

.nav__link {
  color: var(--color-nav-primary-text);
  text-decoration: none;
  display: block;
}

.nav__link:not(.nav__link--resume):hover {
  color: var(--color-nav-secondary-text);
}

.nav__link--resume {
  background-color: var(--color-nav-primary-text);
  color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 16px;
  max-width: fit-content;
}

.nav__link--resume:hover {
   background-color: var(--color-nav-secondary-text);
   color: var(--color-nav-primary);
}


/* button */
.button {
  font-size: 1.4rem;
  padding: 0 3rem;
  height: 80px;
  border: 5px solid var(--color-button-border);
  cursor: pointer;
  transition: outline 0.2s linear;
  border-radius: 20px;
}

.button:hover,
.button:focus {
  outline: 2px solid var(--color-button-border)
}

.button--primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text)
}

.button--secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button:not(button:last-of-type) {
  margin-inline-end: 20px;
}

.button__icon {
  vertical-align: middle;
  padding-left: 0.5rem;
}


@media (min-width: 600px) {


  
  .nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
  }

  .nav__header{
    flex-basis: 100%;
    text-align: center;
  }

  .nav__button{
    display: none;
  }

  .nav__list {
    position: static;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    inset: 0 0 0 0;
    transform: translateX(0);
    background-color: transparent;

    align-items: center;
  }



}

@media (min-width: 860px) {
  .nav {
    flex-flow: row wrap;
  }
    .nav__header{
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}