@import "./base.css";

.main{
    margin: 0;
}

/* intro styles */

#intro {
    padding: 4rem 1rem 6rem 1rem;
    margin: 0 auto;
    text-align: center;
}

.intro__name {
    font-family: var(--font-secondary);
    font-weight: 300;
}

.intro__name--Edward {
    font-style: italic;
    font-weight: 600;
}

.intro__job{
    margin:0;
    font-family: var(--font-primary);
    font-size: 3rem;
    color: var(--color-text-on-secondary);
    font-weight: 600;
     margin-bottom: 2rem;
}

.intro__image {
    max-width: 420px;
    max-height: 420px;
}

@media (min-width: 860px) {


    #intro{
        max-width:1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

}