@import "./base.css";

.main {
  margin: 0;
}

/* intro styles */

#intro {
  padding: 4rem 1rem 6rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.intro__name {
  font-family: var(--font-secondary);
  font-weight: 300;
}

.intro__name--Edward {
  font-style: italic;
  font-weight: 600;
}

.intro__job {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 3rem;
  color: var(--color-text-on-secondary);
  font-weight: 600;
  margin-bottom: 2rem;
}

.intro__image {
  max-width: 420px;
  max-height: 420px;
}

/* about me */

#aboutMe {
  padding: 4rem 1rem 3rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.aboutMe__heading{
   font-size: 2.5rem;
    /* margin-bottom: calc(2.5rem * 1.5); */
}

.aboutMe__image {
    max-width: 420px;
    max-height: 420px;
  }

.aboutMe__text{
  background-color: var(--color-secondary);
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

.aboutMe__skills-heading {
    color: var(--color-text-on-secondary);
}

.aboutMe__skills-list {
    margin: 1em 0 2em 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem
}

.aboutMe__skills-list-item {
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-text);
    border-radius: 16px;
    padding: 0.5em 0.5em;
}

/* project section */
#myWorks {
    padding: 4rem 1rem 3rem 1rem;
    text-align: center;
    
}
.myWorks__heading {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1);
}
.work__heading {
    color: var(--color-text-on-secondary);
}
.work__subheading {
    font-size: 1rem;
    font-family: var(--font-secondary);
    margin: 0;
}
.work__description {
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
}
.work__tech-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}
.work__img {
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--color-text-on-secondary);
    border-top: 1px solid var(--color-text-on-secondary);
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
}

@media (min-width: 860px) {
 #intro {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #aboutMe {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .aboutMe__heading {
    text-align:left ;
  }

  .aboutMe__article {
    display: flex;
  }

  .aboutMe__skills-heading {
    text-align: left;
}

  .aboutMe__image {
    max-width: 420px;
    max-height: 420px;
  }

  .aboutMe__skills-list{
    justify-content: flex-start;
  }



  .myWork__article{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
    #myWorks {
        max-width: 1200px;
        margin: 0 auto;
    }
   .work__img {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .work {
        order: 2;
        text-align: right;
        grid-column: 5/11;
        grid-row: 1/2;
    }
    /* over ride above flexbox justify content in mobile */
    .work__tech-list{
        justify-content: flex-end;
    }
    .myWork__article--reverse .work{
        grid-column: 1/7;
        order:2;
        text-align: left;
    }

   .myWork__article--reverse .work__img {
        grid-column: 6/11;
        grid-row: 1/2;
        border: 5px solid red;
    }
    .myWork__article--reverse .work__tech-list {
        justify-content: flex-start;
    }


}
